*{
    padding: 0;
    margin: 0;
}
boydy{
    background-color: #808080;
}
.aa{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
.a{
    background-color: #2a84c5;
}
.b{
    background-color: #2a92c8;
}
.c{
    background-color: #1b9dd8;
}
.b{
    background-color: #36a9df;
}
.d{
    background-color: #55b6e6;
}
.e{
    background-color: #6fc1eb;
}
.f{
    background-color: #8ecaee;
}
.g{
    background-color: #1ab585;
}
.h{
    background-color: #f5b1cf;
}
.i{
    background-color: #fa9ec2;
}
.j{
    background-color: #f28cb4;
}
.k{
    background-color: #f179a6;
}
.l{
    background-color: #f16a97;
}
.m{
    background-color: #f0588b;
}
.n{
    background-color: #ee337f;
}